# Google AI Studio — https://aistudio.google.com/apikey
GOOGLE_GENERATIVE_AI_API_KEY=

# Groq Cloud — https://console.groq.com/keys
GROQ_API_KEY=

# Mistral La Plateforme — https://console.mistral.ai/api-keys/
MISTRAL_API_KEY=